:root {
    --PrimaryColor: hwb(0 22% 8%);
    --HoverColor: hwb(0 7% 2%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 100%, 63%);
    --textColor: hsl(240, 7%, 53%);
    --whiteColorDeam: hsl(0, 80%, 45%);
    --greyBg: hsl(0, 22%, 96%);
    --greyText: rgb(255, 249, 249);
    --inputColor: hsl(0, 4%, 91%);
    --boxShadow: box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
}

.blog {
    .mainContainer {
        gap: 1rem;

        .singlePost {
            gap: 2rem;

            .imgDiv {
                height: 200px;
                width: 100%;
                border-radius: 1rem;
                border: 5px solid var(--greyBg);
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.406);
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: 3s ease;
                    }
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .postDetails {
                h3 {
                    color: var(--blackColor);
                    font-weight: 600;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 13px;
                    color: var(--textColor);
                    font-weight: 500;
                }

                a {
                    font-size: 15px;
                    color: var(--PrimaryColor);
                    font-weight: 600;
                    padding-top: .5rem;
                    width: max-content;

                    &:hover {
                        color: var(--HoverColor);
                        font-weight: 600;

                        .icon {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}

// MEDIA QUERIES ======================================>
@media screen and (min-width: 884px) {
    .blog {
        .mainContainer {
            grid-template-columns: repeat(2, 1fr);

        }
    }
}



.blg {
    height: 70vh; //this will be 100vh at certain width.
    background: linear-gradient(rgba(33, 33, 33, 0.552), rgba(33, 33, 33, 0.552)), url('../../assets/images/blog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    position: relative;

    .secContainer {
        .blgText {
            text-align: center;

            .title {
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
            }



        }

        .blgCard {
            width: 80%;
            border-radius: 1rem;
            padding: 2rem;
            background: var(--whiteColor);
            position: absolute;
            justify-content: center;
            gap: 1rem;
            bottom: -35%;
            left: 50%;
            transform: translate(-50%);
            box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);


        }
    }
}

// MEDIA QUERIES =======================================>
@media screen and (min-width:480px) {
    .blg {
        .secContainer {
            .blgCard {
                bottom: -18%;
                width: 90%;
                grid-template-columns: repeat(2, 1fr);


            }
        }
    }
}

@media screen and (min-width:556px) {
    .blg {
        .secContainer {
            .blgText {
                .title {
                    font-size: 2.5rem;
                }



            }

        }
    }
}

@media screen and (min-width:720px) {
    .blg {
        .secContainer {
            .blgCard {
                bottom: -10%;
                grid-template-columns: repeat(4, 1fr);


            }
        }
    }
}

@media screen and (min-width:1024px) {
    .blg {
        .secContainer {
            .blgText {
                padding: 1rem 10rem;




            }

            .blgCard {
                width: 70%;
            }

        }
    }
}